<!-- Generated template for the PromotionAddComponent component -->
<ion-list>

  <ion-item>
    <ion-label fixed>优惠券名称</ion-label>
    <ion-input type="text" value=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label fixed>所属商家</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label fixed>所属星球</ion-label>
    <ion-select [(ngModel)]="toppings" multiple="true" cancelText="Nah" okText="Okay!">
      <ion-option value="1" [selected]="true">星球1</ion-option>
      <ion-option value="2" >星球1</ion-option>
      <ion-option value="3" >星球2</ion-option>
      <ion-option value="4" >星球3</ion-option>
      <ion-option value="5" >星球4</ion-option>
      <ion-option value="6" >星球5</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label fixed>可绑定人数</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label fixed>绑定钻石</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label fixed>过期时间</ion-label>
    <ion-datetime type="text"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label fixed>类型</ion-label>
    <ion-datetime type="text"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label fixed>可使用次数</ion-label>
    <ion-datetime type="text"></ion-datetime>
  </ion-item>


  <ion-item>
    <ion-label fixed>优惠券简介</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label fixed>优惠券详情</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

</ion-list>